#drawSVG-container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .drawSVG{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        

        .title{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .svg{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            svg{
                width: 100%;
            }
        }
    }

    #sad-face{
        overflow: visible;
        opacity: 1;
    }

    #start-s{
        cursor: pointer;
    }

    #end-s{
        visibility: hidden;
    }

    #happy-face{
        overflow: visible;
        opacity: 0;
    }

    #start-h{
        cursor: pointer;
    }

    #end-h{
        visibility: hidden;
    }

}