/* =============
    Hero 
============= */
#hero{
    background-image: url(../../../deploy/img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;

    #overlay{
        justify-content: center;
        display: flex;
        font-size: 72px;
        font-weight: 600;

        h1{
            margin: auto;
        }
    }
}