/* =============
    Section2
============= */
#sect2 {
    background-color: #faea59;
    background-size: cover;

    #grid {
        display: flex;
        justify-content: space-between;

        #square1 {
            background: #ffa2ba;
            width: 100px;
            height: 100px;
        }
    
        #circle1 {
            background: #ffa2ba;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    
        #square2 {
            background: #ffa2ba;
            width: 100px;
            height: 100px;
        }
    
        #triangle1 {
            width: 0;
            height: 0;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            border-top: 100px solid #ffa2ba;
        }

        #circle2 {
            background: #ffa2ba;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        #square3 {
            background: #ffa2ba;
            width: 100px;
            height: 100px;
        }


        #circle3 {
            background: #ffa2ba;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        #triangle2 {
            width: 0;
            height: 0;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            border-top: 100px solid #ffa2ba;
            }
    }

    h2{
        padding: 80px;
        padding-bottom: 144px;
        font-size: 96px;
        font-weight: 300;
        text-align: center;
    }
}