/* =============
    Section3
============= */
#sect3{
    background-color: #ffa2ba;
    background-size: cover;
    
    #grid{
        display: grid;
        grid-template-columns:50% 50%;
        align-items: center;
        justify-items: center;

        img{
            height: 800px;
            padding: 64px;
        }

        h3{
            font-size: 64px;
            text-align: center;
        }
    }
}